<!DOCTYPE html>
<html lang="en" class="nojs">

<head>
    <title>IPRO 497 Team C Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script>
      function reserve() {
	var begin = document.cookie.split('; ').find(row => row.startsWith('startTime=')).split('=')[1];
	var end = document.cookie.split('; ').find(row => row.startsWith('endTime=')).split('=')[1];
	var roomName = document.cookie.split('; ').find(row => row.startsWith('roomName1=')).split('=')[1];

	document.getElementById("foo").value = begin + "; " + end + "; " + roomName;
      }
    </script>
</head>

<body onload="reserve()">
    
    <main>
        <nav>
            <div class="nav-wrapper grey ">
                <a href="/" class="brand-logo center">Scarlet Reserve</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="scheduling">Schedule Room</a></li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <section class="reservation-confirmation">
            <div class="container">
	        <form method="post">
		    <h1>
                        Confirmation for reservation:
                    </h1>
		    <input id="foo" name="foo" style="color:white;" value="Failed to load room info :(">
		    <button class="btn waves-effect waves-light" type="submit">Reserve</button>
		</form>
            </div>
        </section>
        <footer class="page-footer grey">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h5 class="white-text center">Scarlet Reserve</h5>
                        <p class="grey-text text-lighten-4">Our goal is to help ensure that you are able to schedule and request our selected rooms within the I.I.T campus buildings</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2021 Team C IPRO Project
                </div>
            </div>
        </footer>
    </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </main>
</body>

</html>
