<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Team C IPRO 497</title>
    <meta charset='utf-8'/>
    <meta name="viewport" content = "width=device-width,initial-scale=1.0,shrink-to-fit=no"/>
    <link rel="stylesheet" media = "screen" href = "static/normalize-form.css"/>
    <link rel="stylesheet" media = "screen" href = "static/screen.css"/>
    <!-- <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,100&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Creating header for my form -->
    <h1>Please contact us at (xxx) xxx-xxxx</h1>
  </body>
</html>