<head>
   <head>
      <title>IPRO 497 Team C Project</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,100&display=swap" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" async></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script src="js/jsScript.js" async></script>
      <script>
        $(document).ready(function () {
          $(".button-collapse").sideNav();
        });
      </script>
    
    </head>
   <script type="text/javascript" language="javascript">
      var buildings = ["IIT Tower", "Wishnick Hall", "Tech Park - South Building", "Stuart Building",
         "Robert A. Pritzker Science Ctr", "Downtown Campus", "Hermann Hall"
      ]
      $(document).ready(function () {
         $("p").html("<i>Hello!  Please select a building of your choice</i>");
         var i;
         for (i = 0; i < buildings.length; i++) {
            var building = $("<p></p>").text(buildings[i]);
            building.attr("id", buildings[i].toString());
            building.click(function () {
               $("p:not(" + this.id + ")").hide();
               //need to add code to display rooms
               location.href = "scheduling_index"
            });
            $("body").append(building);
         }
      });
   </script>
   <style>
      .red {
         color: red;
      }

      .green {
         color: green;
      }
   </style>
</head>

<body>
           <!-- NAV-BAR -->
           <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper grey">
                    <a href="/" class="brand-logo">Logo</a>
                    <a href="/" data-activates="mobile-demo" class="button-collapse"><i
                            class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="creation">Create Account</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="creation">Create Account</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="contact">Contact Us</a></li>
        </ul>
   <div id="result1"></div>
</body>

</html>